<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <appSettings>
    <add key ="FolderPath" value ="../EmailTemplate/"/>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="MERCHANT_KEY" value="j8HMSD" />
    <add key="SALT" value="Fsu4dTyK" />
    <add key="PAYU_BASE_URL" value="https://test.payu.in" />
    <add key="action" value="" />
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringSKAdmin" connectionString="server=192.168.2.153;user id=root;password=1234;database=anuvaa_skadmin;charset=utf8;convert zero datetime=True" providerName="MySql.Data.MySqlClient"/>   
    <add name="ConnectionString" connectionString="server=192.168.2.153;user id=root;password=1234;database=anuvaa_societykatta;charset=utf8;convert zero datetime=True" providerName="MySql.Data.MySqlClient"/>
   <add name="ConnectionStringServices" connectionString="server=192.168.2.153;user id=root;password=1234;database=anuvaa_services;charset=utf8;convert zero datetime=True" providerName="MySql.Data.MySqlClient"/>
    
    <add name="ConnectionStringServicesServer" connectionString="password=services123;server=50.62.209.38;user id=services;database=anuvaa_services;charset=utf8;convert zero datetime=True" providerName="MySql.Data.MySqlClient"/> 
    <add name="ConnectionStringServer"  connectionString="password=Jks6t27^;server=50.62.209.38;user id=societykatta;database=anuvaa_societykatta;charset=utf8;convert zero datetime=True" providerName="MySql.Data.MySqlClient" />  
     <add name="ConnectionStringSKAdminServer" connectionString="password=wbGz8?55;server=50.62.209.38;user id=anuvaa_skadmin;database=anuvaa_skadmin;charset=utf8;convert zero datetime=True"
      providerName="MySql.Data.MySqlClient" />
    
   <add name ="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;IMEX=1;'"/>
    <add name ="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;IMEX=1;'"/>
  </connectionStrings>
  <system.web>
    <trust level="Full"/>
    <pages enableEventValidation="false" viewStateEncryptionMode="Never">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <identity impersonate="true"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
          <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
           <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
       
    </compilation>
    <httpRuntime executionTimeout="480" maxRequestLength="16384" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
   
  </system.web>
 
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
  </system.webServer>
   
   
</configuration>